.pokemon {
  width: 250px;
  height: 250px;
  border: 2px black solid;
  border-radius: 10px;
  margin: 10px;
  display: inline-block;
}

.pokemon-content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.partyContainer {
  text-align: center;
}
