.cloudWord {
  display: inline-block;
  padding: 9px;
  margin: 2px;
  border-radius: 10px;
  color: rgb(240, 240, 240);
  background-color: rgb(50, 50, 50);
  font-weight: bold;
}

.cloudWord:hover {
  background-color: green;
  color: white;
}

.cloud {
  text-align: center;
}
